table.tor2e-random-table {
    caption {
        text-align: left;
        font-weight: bold;
        padding-bottom: 0.5em;
    }

    td:nth-child(1),
    th:nth-child(1) {
        text-align: center;
    }

    td.eye-of-sauron {
        --icon-size: 1.5em;
    }

    tr.highlight td {
        background: var(--text-highlight-bg);
    }

    .caption-content {
        display: flex;
        column-gap: var(--size-4-1);
    }
}
